
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Redirect", "Redirect", "Marieniel")
        <br />
        @Html.ActionLink("Person Details", "PersonDetails", "Marieniel")
        <br />
        @Html.ActionLink("Person Details ViewBag", "PersonDetailsViewBag", "Marieniel")
        <br />
        @Html.ActionLink("Department Details ViewBag Model", "DepartmentDetailsViewBagandModel", "Marieniel")
        <br />
        @Html.ActionLink("Asset Details ViewBag Model With Parameters", "AssetDetailsViewBagandModelWithParameter", "Marieniel")
    </div>
    <br />
    <br />
    Assignemt # 2
    <br />
    <vr>
        <div>
            @Html.ActionLink("List Of Departments", "ListOfDepartment", "Marieniel")
        </div>
    </vr>
</body>
</html>
