@model CSDASSETSYSTEM.Models.Core.Asset


@{
    ViewBag.Title = "Home Page";
}



@ViewBag.Date

<div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-3">
                ID

            </div>
            <div class="col-md-3">
                @Model.Id

            </div>
            <div class="col-md-3">

                Asset Code
            </div>
            <div class="col-md-3">
                @Model.AssetCode

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-3">
                Asset Name

            </div>
            <div class="col-md-3">
                @Model.AssetName

            </div>
            <div class="col-md-3">

                Asset Type
            </div>
            <div class="col-md-3">
                @Model.AssetType

            </div>
        </div>
    </div>

</div>


<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>
            Id
        </th>
        <th>
            CompanyId
        </th>
        <th>
            Name
        </th>
        <th>
            Department
        </th>
    </tr>

    @if (ViewBag.ListOfPerson != null)
    {
        foreach (var item in (ViewBag.ListOfPerson as List<CSDASSETSYSTEM.Models.Core.Person>))
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.CompanyID
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Department
                </td>
            </tr>
        }
    }



</table>





