@model CSDASSETSYSTEM.Models.Core.Person
@{
    ViewBag.Title = "User Details";
}





<table class=" table table-hover">
    <tr>
        <th>
            Id
        </th>
        <td>
            @Html.DisplayFor(x => x.Id)

        </td>
    </tr>
    <tr>
        <th>
            CompanyID
        </th>
        <td>
            @Html.DisplayFor(x => x.CompanyID)


        </td>
    </tr>
    <tr>
        <th>
            Name
        </th>
        <td>
            @Html.DisplayFor(x => x.Name)


        </td>
    </tr>
    <tr>
        <th>
            Department
        </th>
        <td>
            @Html.DisplayFor(x => x.Department)
        </td>
    </tr>
    <tr>
        <th>
            DOB
        </th>
        <td>
            @Html.DisplayFor(x => x.DateOfBirth)
        </td>
    </tr>
    <tr>
        <th>
            Gender
        </th>
        <td>
            @Html.DisplayFor(x => x.Gender)
        </td>
    </tr>
    <tr>
        <th>
            BriefIntroduction
        </th>
        <td>
            @Html.DisplayFor(x => x.BriefIntroduction)
        </td>
    </tr>
    <tr>
        <th>
            IsAdmin
        </th>
        <td>
            @Html.DisplayFor(x => x.IsAdmin)
        </td>
    </tr>
</table>


@Html.ActionLink("Back To List", "AssetDetailsWithViewBagAndModelWithParameter")